
body 
{
    font-family = Verdana;
    font-size: 9pt;
}

div
{
    color:red;
}

.block
{
    background-color:yellow;
    border-color: blue;
    border-width: thin;
    border-style:outset;
    font-family: Arial;
}
